/*=========================================
お問い合せ
======================================== */
.s_contact {
  background-image: url(/img/contact.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .s_title {
    color: white;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 1);
  }
  .contact_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.875rem;
    @include media(md) {
      flex-direction: column;
      row-gap: 1.5rem;
      flex-wrap: wrap;
    }
  }
}
