/*=========================================
機能一覧
======================================== */
.s_function {
    .functions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 1.25rem;
        .function_item {
            width: calc(100% / 3 -  2.5rem / 3);
            border: 1px solid $color-d9;
            border-radius: 0.3125rem;
            position: relative;
            padding: 2rem 1.25rem 1.25rem;
            @include media(md) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.25rem;
            }
            &:before {
                content: "";
                border-top-right-radius: 0.3125rem;
                border-top-left-radius: 0.3125rem;
                height: 0.375rem;
                background: $color-7;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
            .function_item_media {
                width: 11.25rem;
                margin: auto;
                @include media(md) {
                    width: 9rem;
                    float: left;
                }
            }
            .function_item_text {
                @include media(md) {
                    width: calc(100% - 9rem);
                    padding-left: 1rem;
                }
                h3 {
                    font-size: 1.25rem;
                    color: $color-3;
                    margin-top: 1rem;
                    text-align: center;
                    @include media(md) {
                        text-align: left;
                        font-size: 1.6rem;
                        margin: 0;
                    }
                }
                p {
                    font-size: 1.125rem;
                    color: $color-7;
                    margin-top: 1rem;
                    @include media(md) {
                        font-size: 1.25rem;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}