/*=========================================
ヘッダー
======================================== */
.s_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    width: 75rem;
    max-width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    @include media(md) {
        position: absolute;
    }
    .header_logo {
        width: 18.75rem;
        display: block;
        margin: 0;
        @include media(md) {
            width: 25rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .header_action {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.9375rem;
        @include media(md) {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1rem;
            background: rgba(255,255,255,0.7);
        }
    }
}