/*=========================================
対象製品例
======================================== */
.s_product {
    .products {
        padding: 2.5rem;
        background: white;
        @include media(md) {
            padding: 1rem;
        }
        .product_items {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            column-gap: 2.5rem;
            row-gap: 1.5rem;
            @include media(md) {
                column-gap: 1rem;
                row-gap: 1rem;
            }
            li {
                width: calc(100% / 4 - 7.5rem / 4);
                margin: 0;
                @include media(md) {
                    width: calc(50% - 0.5rem);
                }
                .product_media {
                    display: block;
                }
                p {
                    font-size: 1rem;
                    text-align: center;
                    margin-top: 0.625rem;
                    @include media(md) {
                        font-size: 1.25rem;
                    }
                }
            }
        }
        .product_desc {
            font-size: 0.875rem;
            margin-top: 1.875rem;
            @include media(md) {
                font-size: 1rem;
            }
        }
    }
}