/*=========================================
「DATAGRID AnomalyGenerator」利用規約
======================================== */
.s_term {
    .term {
        h3 {
            font-size: 1.5rem;
            margin-top: 2rem;
        }
        p {
            font-size: 1rem;
            white-space: pre-line;
            overflow-wrap: break-word;
            word-break: break-all;
            @include media(md) {
                font-size: 1.25rem;
            }
        }
    }
}