/*=========================================
Color
======================================== */
.color_main {
	color: black;
}
.color_3 {
	color: $color-3;
}
.color_7 {
	color: $color-7;
}
.color_8 {
	color: $color-8;
}
.color_d9 {
	color: $color-d9;
}
.color_f5 {
	color: $color-f5;
}
.color_gold {
	color: $color_gold;
}