/*=========================================
Font Family
======================================== */
.font_ntjp {
	font-family: $font_notosansjp;
}
.font_robot {
	font-family: $font_robot;
}
/*=========================================
Font Size
======================================== */

/*=========================================
Font Weight
======================================== */
.weight_bold {
	font-weight: $weight_bold;
}
.weight_normal {
	font-weight: $weight_normal;
}
.weight_light {
	font-weight: $weight_light;
}
