/*=========================================
Image
======================================== */
.img_block {
	display: block;
	width: 100%;
	object-fit: contain;
	object-position: center;
}
.img_cover {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.img_border {
	border: 1px solid $color-f5
}